body {
    padding-top: 70px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.page-header {
    display: none;
}
.pnotify-word-break {
    word-break: break-all
}
#scrollUp {
    background-image: url("../plugins/scrollup/top.png");
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}
.table-form tbody tr th {
    width: 15%;
    vertical-align: middle;
}
